
@font-face {
    font-family: HelveticaNeueLTProBd;
    src: url("fonts/Linotype-HelveticaNeueLTPro-Bd.otf") format("opentype");
}
@font-face {
    font-family: HelveticaNeueLTProMd;
    src: url("fonts/Linotype-HelveticaNeueLTPro-Md.otf") format("opentype");
}
@font-face {
    font-family: HelveticaNeueLTProMdCn;
    src: url("fonts/Linotype-HelveticaNeueLTPro-MdCn.otf") format("opentype");
}
@font-face {
    font-family: HelveticaNeueLTProRoman;
    src: url("fonts/Linotype-HelveticaNeueLTPro-Roman.otf") format("opentype");
}


$titleColor:#8f00fe;
$backgroundColor:#eee;


*{
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
    color: #000;
  
}
a:visited{
    color: #000;
}
a:hover{
    color:$titleColor ;
}

ul{

li{
    list-style: none;
}
}
.container{
    background: #fff;
    font-family: HelveticaNeueLTProRoman;
    position: relative;
}

//header

header{
    background:$backgroundColor ;
    position: sticky;
    z-index: 1;
  top: 0;
  border-bottom: 1px solid #c7c7c7;
}


.header_desktop{ 
    display: flex;
    padding: 1%;
   // background: red;

    div{
        width: 50%;  
        
    }

    .header_logo{
        padding-top: 1%;
        a{
            font-family:HelveticaNeueLTProBd;
            font-size: 11px;
            font-weight:bold;
        }
        a:before{
        content: ' \259F   ';
         font-size: 11px;
        }
    }

}

.header_nav_top{
   
  ul{
        display: flex;
        
        //background-color: yellowgreen;
        .linkButton{
            background-color: $titleColor;
            border-radius: 3px;

            animation-name: example;
            animation-duration: 4s;
            a{
            color: #fff;
            }
        }
        @keyframes example {
            from {background-color: rgb(157, 54, 241);}
            to {background-color: rgb(110, 110, 110);}
          }

  }
        li{
        width: 13%;
        
        padding: 10px 7px;
        text-align: center;
            font-size: 9.5px;
            font-weight: bold;
            //border: 1px solid black;

        
            }

}


.header_nav_bottom{
   //background-color: grey;
    width: 550px;
    margin: 0 auto;
    padding-top: 1%;
    
        .header_nav_ul{
         display: flex;

             li{
              padding: 10px 13px;
              font-size: 12px;
              
             }
             li:hover{
                 border-bottom: 1px solid $titleColor;
             }
             a{
                color: grey;
             }
             a:hover{
                 color: $titleColor;
             }
        }
       
    
  
}
.mobile_header{
display: none;
}

//about section
.about{
   position: relative;
  
    width: 100%;
   min-height: 400px;
   
    //border-top: 1px solid #c7c7c7;
    box-shadow: 1px 3px 2px #eeeeee;
   background-image: url("images/Header_BG.png");

   background-position: center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   //background-size: cover;
   background-size: 100% 95%;
   padding-top: 3%;
   //padding: 2% 0;
   
  

  .about_content_top{
        width: 35%;
        margin: 0 auto;
    // border: 1px solid black;
        text-align: center;
        padding: 3% 0;

    .about_title_top{
            color: $titleColor;
            font-family:HelveticaNeueLTProBd ;
            font-size: 40px;
            padding-bottom: 5% ;
            
        }
        p{
            font-size: 15px;
            font-weight: bold;
        }
    }

  .about_content_bottom{
     // background: yellow;
      width: 75%;
      margin: 0 auto;
      display: flex;
      
      .card{
          text-align: center;
          //border: 1px solid black;
          width: 400px;
          //height: 200px;
          padding: 2% 3%;

         .imgCardSize{
             width: 35px;
             height: 35px;
            // padding-bottom: 2%;
         }
         .about_title{
          font-size: 18px;
          padding-bottom: 6%;
          padding:3% 10% 6% 10%;
         }
         p{
            font-size: 15px;
         }
      }

  }

}

//PriceComparison section
.PriceComparison{
    padding-bottom: 7%;

    .PriceComparison_content_top{
        margin-top: 5%;
        text-align: center;

        .PriceComparison_title_top{
        color: $titleColor;
        font-size: 23px;
        font-weight: bolder;
        }
        p{
            margin: 2% 21%;
            font-size: 15px;
            font-weight: bolder;
            line-height: 25px;
        }
    }

    .PriceComparison_content_bottom{
        .PriceComparison_title_bottom{
          color: #000;
          font-size: 32px;
          text-align: center;
          padding-top: 4%;
          padding-bottom: 5%;

        }
        
        .PriceComparison_cards{
            background-image: url("images/tableBG.png");
            background-repeat: no-repeat;
           background-position: center;
            background-size: 80% 100%;
           

            width: 60%;
            //border: 1px solid black;
            margin: 0 auto;
            display: flex;
           // text-align: center;
           
            .cardBox{
               
                width: 33%;
               // border: 1px solid gray; 
               h3{
                   padding-top:12% ;
                   padding-bottom: 6%;
               }
                ul{
                    li{
                        min-height: 40px;
                      padding-top: 11%;
                        border-bottom: 1px solid rgb(197, 197, 197);
                        img{
                            width: 20px;
                            height: 20px;
                        }
                    }
                    li:last-child{
                        border-bottom:none;
                    }
                }
            }
            .boxList1{
            padding-top:70px;
            font-weight: bold;
        
            }
            .boxList2{
                border-radius: 20px 0 0 20px;
              box-shadow: -5px 1px 10px 0px #d8d8d8;
              text-align: center;
              //opacity: 0.7;
              background: #fff;
              background: rgba(255, 255, 255, 0.7); 
            
              h3{
                  color: $titleColor;
                  font-weight: bold;
              }
            }
            .boxList3{
              //z-index: -1;
              // opacity: 0.7;   
               // background: $backgroundColor ;
                background: rgba( 238,  238,  238, 0.4); 
                border-radius:0 20px 20px 0;
                text-align: center;
                //color: rgb(0, 0, 0,0.2);
         
            }  

        }

    }

}

//messageWithButton section
.messageWithButton{
    background-image: url("images/Enterprise_BG.png");                  
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    .messageWithButtonWrapper{
        width: 60%;
        margin: 0 auto;
        padding:6% 0;
     
     .messageWithButton_title{
         font-size: 37px;
         color: #fff;

      }

      .messageWithButton_p_button{
          display: flex;
          p{
            padding-top: 2%;
            padding-right: 7%;
            color: #fff;
            font-size: 16px;
          }
          button{
            margin-top: 2%;
          width: 35%;
          height: 40px;
          border: none;
          border-radius: 6px;
          background-color: #fff;
          color: $titleColor;
          font-weight: bold;
          cursor: pointer;
          }

      }
   }

}

//bookWithButton section
.bookWithButton{
   
    background-image: linear-gradient(#fff, rgb(233, 233, 233));
    min-height: 450px;
    .bookWithButtonWrapper{
        
        background-image: url("images/shai_add_pic.png");                  
        background-repeat: no-repeat;
        background-position: 85% 50%;
        background-size: 37% 75%;

        width: 60%;
        margin: 0 auto;
        padding:6% 0;
        .bookWithButton_title{
            font-size: 37px;
            color: $titleColor;
            font-weight: bold;
            padding-bottom: 2%;
        }
        h3{
            font-size:18px;
            padding-bottom: 1%;
        }
        p{
            padding-right: 55%;
            font-size:14px;
            line-height: 20px;
        }
        button {
            margin-top: 2%;
            width: 20%;
            height: 40px;
            border: none;
            border-radius: 6px;
            background-color:  $titleColor;
            color:#fff;
            //font-weight: bold;
            cursor: pointer;
        }

    }

}

//footer
footer{
    padding: 6% 0;
    
    .footer_lists{
        //background-color: red;
        width: 80%;
        margin: 0 auto;
        display: flex;

        .footerBox {
         width: 20%;
         padding-right:8% ;
         h3{
            padding-bottom: 20%;
             a{
             color: $titleColor;
             font-size: 15px;
             
             }

         }
         ul{
             li{
                font-size: 15px;
                font-weight: bold;
                padding-bottom: 20%;
             }
             .textSmall{
                 font-size: 12px;
             }
         }
            
        }
       

        .boxList4{
            //background: yellowgreen;
            padding: 0;
            width: 45%;

            h3{
                padding-bottom: 6%;
              }

              ul{
                li{
                   padding-bottom: 6%;
                }
              }

            .iconSocialMedia{
              //background: red;
              padding-bottom: 15%;
            .fa {
                padding: 5px;
                font-size: 17px;
                width: 17px;
                text-align: center;
                text-decoration: none;
                margin-left: 8px;
                border-radius: 50%;
                background: #000;
                color: #fff;
              }
              
              .fa:hover {
                  opacity: 0.7;
              }         
              
            }
        }

    }
    p{
        font-size: 12px;
        padding-left: 10%;
    }
}

//messageSticky
.messageSticky{
    //border: 1px solid rgb(202, 202, 202);
    background: #fff;
   padding-left: 100px;
   //height: 70px;
    position: fixed;
    bottom: 0;
    z-index: 100;

    button{
        border: none;
        cursor: pointer;
    }
    
}


/// Responsive
@media only screen and (max-width:1070px) {
    /* For tablets: */ 
        .header_desktop{
               // background: red;
                display: block;
                text-align: center;

                div{
                    width: 80%; 
                    padding-bottom: 2%;
                    margin: 0 auto;
                }
                .header_nav_top{
                    ul{
                       
                        li{
                            font-size: 8px;
                            padding: 10px 7px;
                           // width:16% ;
                        }
                        .linkButton{
                            font-size: 8px;
                           //width:20% ;
                        } 
                       
                    }
                }
            }

            .header_nav_bottom{
                width: 484px;
      
             .header_nav_ul{ 

                li{
                    padding: 10px ;
                    font-size: 11px; 
                }
               
             }

            }
//about
        .about{
            min-height: 360px;
            background-size: cover;
            .about_content_top{
                width: 55%;
                padding: 4% 0;
                .about_title_top{
                    font-size: 26px;
                    padding-bottom: 5% ;           
                }
                p{
                    font-size: 12px;            
                }
            }
            .about_content_bottom{               
                width: 85%;
                margin: 0 auto;
                display: flex;
                .card{                
                    width: 400px;
                    height: 200px;
                    padding: 2% 3%;
          
                   .imgCardSize{
                       width: 35px;
                       height: 35px;
                   }
                   .about_title{
                    font-size: 15px;           
                   }
                   p{
                      font-size: 13px;
                   }
                }
            }
        }

    //PriceComparison
        .PriceComparison{
            .PriceComparison_content_top{
                padding: 4% 0;
                .PriceComparison_title_top{
                   font-size: 22px;
                    }
                p{
                    margin: 2% 18%;
                    font-size: 12px;
                    line-height: 22px;
                   
                }
            }

            .PriceComparison_content_bottom{
                .PriceComparison_title_bottom{
                  font-size: 27px;     
                   }
                
                .PriceComparison_cards{
                    width: 80%; 
                    .cardBox{
                       h3{
                        font-size: 14px;
                       }
                        ul{
                            li{
                                font-size: 10px;
                               padding-left: 4%;
                               padding-right:4% ;
                            }          
                        }
                    }
                    .boxList1{
                    padding-top:9%;
                    font-weight: bold;     
                    }
                }
            }    
        }

    //messageWithButton section
.messageWithButton{
    .messageWithButtonWrapper{
        width: 80%;
     .messageWithButton_title{
         font-size: 25px;         
      }
      .messageWithButton_p_button{
          display: flex;
          p{
            font-size: 13px;
          }
          button{
          width: 200px;
          height: 40px;
          font-size: 9px;
          padding: 1%;      
          }
      }
   }
}

//bookWithButton section
.bookWithButton{ 
    min-height: 300px;
    .bookWithButtonWrapper{
        background-position: 100% 50%;
        background-size: 37% 55%;
        width: 80%;

        .bookWithButton_title{
            font-size: 25px;
        }
        h3{
            font-size:15px;
        }
        p{
            font-size:11px;        
        }
        button {
         font-size: 10px;
        }
    }
}

//footer
footer{  
    .footer_lists{
        width: 90%;
        margin: 0 auto;
        display: flex;

        .footerBox {
         width: 20%;
         padding-right:4% ;
         h3{   
             a{           
             font-size: 13px;          
             }
         }
         ul{
             li{
                font-size: 12px;        
             }
             .textSmall{
                 font-size: 10px;
             }
         }     
        }
       
        .boxList4{
            padding: 0;
            width: 45%;

            .iconSocialMedia{ 
              padding-bottom: 15%;
            .fa {
                padding: 2px;
                font-size: 15px;
                width: 14px;
                margin-left: 3px;
              }  
            }
        }
        .boxList5{
            padding: 0;
         img{
           width: 80px;
            }
        }
    }
    p{
        font-size: 10px;    
    }
}

//messageSticky
.messageSticky{
   padding-left: 0; 
}

}


@media only screen and (max-width:500px) {
    /* For mobile phones: */

      /*.header_desktop{
       background: blue;
    }*/
    .header_nav_top{
        display: none;
      
        ul{
            display: block;
          
            li{
                
                text-align: center;
              width: 100%;
                margin: 1px auto;
                border-bottom: 1px solid rgb(201, 199, 199);
            }
        }
    }
    .mobile_header{
        display: block;
        text-align: center;
    }
    .mobile_header{
        a:hover{
        color: $titleColor;
        }
    }
    .header_nav_bottom{
        width: 300px;
        
     .header_nav_ul{ 
         display: block; 
         text-align: center;   
        
     }
    }
//about
.about{
    min-height: 360px;
    background-size: cover;
    .about_content_top{
        width: 70%;
        padding-top: 10%;

    .about_title_top{
            font-size: 20px;         
        }
        p{
            font-size: 11px;            
        }
    }
    .about_content_bottom{               
        width: 85%;
        margin: 0 auto;
        display:block;
        .card{                
            width: 200px;
            height: 140px;
            padding: 2% 0;
            margin: 0 auto;
  
           .imgCardSize{
               width: 30px;
               height: 30px;
           }
           .about_title{
            font-size: 14px;           
           }
           p{
              font-size: 12px;
           }
        }
    }
}

//PriceComparison
.PriceComparison{
    .PriceComparison_content_top{
        padding-top: 4%;
        .PriceComparison_title_top{
           font-size: 16px;
           padding-top: 3%;
            }
        p{
            margin: 2% 21%;
            font-size: 10px;
            line-height: 20px;
        }
    }

    .PriceComparison_content_bottom{
        padding-top: 4%;
        .PriceComparison_title_bottom{
          font-size: 22px;     
           }
        
        .PriceComparison_cards{
            width: 94%; 
            .cardBox{
               h3{
                font-size: 13px;
               }
                ul{
                    li{
                        font-size: 9px;
                    }          
                }
            }
            .boxList1{
            padding-top:10%;
            font-weight: bold;     
            }
        }
    }    
}

//messageWithButton section
.messageWithButton{
.messageWithButtonWrapper{
width: 80%;
.messageWithButton_title{
 font-size: 17px;         
}
.messageWithButton_p_button{
  display: flex;
  p{
    font-size: 10px;
  }
  button{
  width: 65%;
  height: 27px;
  font-size: 7px;
  padding: 1%;      
  }
}
}
}

//bookWithButton section
.bookWithButton{ 
    padding-top: 3%;
min-height: 280px;
.bookWithButtonWrapper{
background-position: 100% 50%;
background-size: 37% 55%;
width: 80%;

.bookWithButton_title{
    font-size: 22px;
}
h3{
    font-size:11px;
}
p{
    font-size:9px;        
}
button {
 font-size: 8px;
}
}
}

//footer
footer{  
.footer_lists{
width: 95%;
margin: 0 auto;
display: flex;

.footerBox {
 width: 20%;
 padding-right:2% ;
 h3{   
     a{           
     font-size: 11px;          
     }
 }
 ul{
     li{
        font-size: 10px;        
     }
     .textSmall{
         font-size: 8px;
     }
 }     
}

.boxList4{
    padding: 0;
    width: 25%;

    .iconSocialMedia{ 
      padding-bottom: 15%;
    .fa {
        padding: 4px;
        font-size: 14px;
        width: 14px;
        margin-left: 3px;
      }  
    }
}
.boxList5{
    padding: 0;
 img{
   width: 70px;
    }
}
}
p{
font-size: 8px;    
}
}

//messageSticky
.messageSticky{
padding-left: 0; 
img{
    width: 40px;
    height: 40px;
}
}
}