@font-face {
  font-family: HelveticaNeueLTProBd;
  src: url("fonts/Linotype-HelveticaNeueLTPro-Bd.otf") format("opentype");
}

@font-face {
  font-family: HelveticaNeueLTProMd;
  src: url("fonts/Linotype-HelveticaNeueLTPro-Md.otf") format("opentype");
}

@font-face {
  font-family: HelveticaNeueLTProMdCn;
  src: url("fonts/Linotype-HelveticaNeueLTPro-MdCn.otf") format("opentype");
}

@font-face {
  font-family: HelveticaNeueLTProRoman;
  src: url("fonts/Linotype-HelveticaNeueLTPro-Roman.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #8f00fe;
}

ul li {
  list-style: none;
}

.container {
  background: #fff;
  font-family: HelveticaNeueLTProRoman;
  position: relative;
}

header {
  background: #eee;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  border-bottom: 1px solid #c7c7c7;
}

.header_desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1%;
}

.header_desktop div {
  width: 50%;
}

.header_desktop .header_logo {
  padding-top: 1%;
}

.header_desktop .header_logo a {
  font-family: HelveticaNeueLTProBd;
  font-size: 11px;
  font-weight: bold;
}

.header_desktop .header_logo a:before {
  content: ' \259F   ';
  font-size: 11px;
}

.header_nav_top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_nav_top ul .linkButton {
  background-color: #8f00fe;
  border-radius: 3px;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

.header_nav_top ul .linkButton a {
  color: #fff;
}

@-webkit-keyframes example {
  from {
    background-color: #9d36f1;
  }
  to {
    background-color: #6e6e6e;
  }
}

@keyframes example {
  from {
    background-color: #9d36f1;
  }
  to {
    background-color: #6e6e6e;
  }
}

.header_nav_top li {
  width: 13%;
  padding: 10px 7px;
  text-align: center;
  font-size: 9.5px;
  font-weight: bold;
}

.header_nav_bottom {
  width: 550px;
  margin: 0 auto;
  padding-top: 1%;
}

.header_nav_bottom .header_nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_nav_bottom .header_nav_ul li {
  padding: 10px 13px;
  font-size: 12px;
}

.header_nav_bottom .header_nav_ul li:hover {
  border-bottom: 1px solid #8f00fe;
}

.header_nav_bottom .header_nav_ul a {
  color: grey;
}

.header_nav_bottom .header_nav_ul a:hover {
  color: #8f00fe;
}

.mobile_header {
  display: none;
}

.about {
  position: relative;
  width: 100%;
  min-height: 400px;
  -webkit-box-shadow: 1px 3px 2px #eeeeee;
          box-shadow: 1px 3px 2px #eeeeee;
  background-image: url("images/Header_BG.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 95%;
  padding-top: 3%;
}

.about .about_content_top {
  width: 35%;
  margin: 0 auto;
  text-align: center;
  padding: 3% 0;
}

.about .about_content_top .about_title_top {
  color: #8f00fe;
  font-family: HelveticaNeueLTProBd;
  font-size: 40px;
  padding-bottom: 5%;
}

.about .about_content_top p {
  font-size: 15px;
  font-weight: bold;
}

.about .about_content_bottom {
  width: 75%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about .about_content_bottom .card {
  text-align: center;
  width: 400px;
  padding: 2% 3%;
}

.about .about_content_bottom .card .imgCardSize {
  width: 35px;
  height: 35px;
}

.about .about_content_bottom .card .about_title {
  font-size: 18px;
  padding-bottom: 6%;
  padding: 3% 10% 6% 10%;
}

.about .about_content_bottom .card p {
  font-size: 15px;
}

.PriceComparison {
  padding-bottom: 7%;
}

.PriceComparison .PriceComparison_content_top {
  margin-top: 5%;
  text-align: center;
}

.PriceComparison .PriceComparison_content_top .PriceComparison_title_top {
  color: #8f00fe;
  font-size: 23px;
  font-weight: bolder;
}

.PriceComparison .PriceComparison_content_top p {
  margin: 2% 21%;
  font-size: 15px;
  font-weight: bolder;
  line-height: 25px;
}

.PriceComparison .PriceComparison_content_bottom .PriceComparison_title_bottom {
  color: #000;
  font-size: 32px;
  text-align: center;
  padding-top: 4%;
  padding-bottom: 5%;
}

.PriceComparison .PriceComparison_content_bottom .PriceComparison_cards {
  background-image: url("images/tableBG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% 100%;
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.PriceComparison .PriceComparison_content_bottom .PriceComparison_cards .cardBox {
  width: 33%;
}

.PriceComparison .PriceComparison_content_bottom .PriceComparison_cards .cardBox h3 {
  padding-top: 12%;
  padding-bottom: 6%;
}

.PriceComparison .PriceComparison_content_bottom .PriceComparison_cards .cardBox ul li {
  min-height: 40px;
  padding-top: 11%;
  border-bottom: 1px solid #c5c5c5;
}

.PriceComparison .PriceComparison_content_bottom .PriceComparison_cards .cardBox ul li img {
  width: 20px;
  height: 20px;
}

.PriceComparison .PriceComparison_content_bottom .PriceComparison_cards .cardBox ul li:last-child {
  border-bottom: none;
}

.PriceComparison .PriceComparison_content_bottom .PriceComparison_cards .boxList1 {
  padding-top: 70px;
  font-weight: bold;
}

.PriceComparison .PriceComparison_content_bottom .PriceComparison_cards .boxList2 {
  border-radius: 20px 0 0 20px;
  -webkit-box-shadow: -5px 1px 10px 0px #d8d8d8;
          box-shadow: -5px 1px 10px 0px #d8d8d8;
  text-align: center;
  background: #fff;
  background: rgba(255, 255, 255, 0.7);
}

.PriceComparison .PriceComparison_content_bottom .PriceComparison_cards .boxList2 h3 {
  color: #8f00fe;
  font-weight: bold;
}

.PriceComparison .PriceComparison_content_bottom .PriceComparison_cards .boxList3 {
  background: rgba(238, 238, 238, 0.4);
  border-radius: 0 20px 20px 0;
  text-align: center;
}

.messageWithButton {
  background-image: url("images/Enterprise_BG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.messageWithButton .messageWithButtonWrapper {
  width: 60%;
  margin: 0 auto;
  padding: 6% 0;
}

.messageWithButton .messageWithButtonWrapper .messageWithButton_title {
  font-size: 37px;
  color: #fff;
}

.messageWithButton .messageWithButtonWrapper .messageWithButton_p_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.messageWithButton .messageWithButtonWrapper .messageWithButton_p_button p {
  padding-top: 2%;
  padding-right: 7%;
  color: #fff;
  font-size: 16px;
}

.messageWithButton .messageWithButtonWrapper .messageWithButton_p_button button {
  margin-top: 2%;
  width: 35%;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: #fff;
  color: #8f00fe;
  font-weight: bold;
  cursor: pointer;
}

.bookWithButton {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e9e9e9));
  background-image: linear-gradient(#fff, #e9e9e9);
  min-height: 450px;
}

.bookWithButton .bookWithButtonWrapper {
  background-image: url("images/shai_add_pic.png");
  background-repeat: no-repeat;
  background-position: 85% 50%;
  background-size: 37% 75%;
  width: 60%;
  margin: 0 auto;
  padding: 6% 0;
}

.bookWithButton .bookWithButtonWrapper .bookWithButton_title {
  font-size: 37px;
  color: #8f00fe;
  font-weight: bold;
  padding-bottom: 2%;
}

.bookWithButton .bookWithButtonWrapper h3 {
  font-size: 18px;
  padding-bottom: 1%;
}

.bookWithButton .bookWithButtonWrapper p {
  padding-right: 55%;
  font-size: 14px;
  line-height: 20px;
}

.bookWithButton .bookWithButtonWrapper button {
  margin-top: 2%;
  width: 20%;
  height: 40px;
  border: none;
  border-radius: 6px;
  background-color: #8f00fe;
  color: #fff;
  cursor: pointer;
}

footer {
  padding: 6% 0;
}

footer .footer_lists {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer_lists .footerBox {
  width: 20%;
  padding-right: 8%;
}

footer .footer_lists .footerBox h3 {
  padding-bottom: 20%;
}

footer .footer_lists .footerBox h3 a {
  color: #8f00fe;
  font-size: 15px;
}

footer .footer_lists .footerBox ul li {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 20%;
}

footer .footer_lists .footerBox ul .textSmall {
  font-size: 12px;
}

footer .footer_lists .boxList4 {
  padding: 0;
  width: 45%;
}

footer .footer_lists .boxList4 h3 {
  padding-bottom: 6%;
}

footer .footer_lists .boxList4 ul li {
  padding-bottom: 6%;
}

footer .footer_lists .boxList4 .iconSocialMedia {
  padding-bottom: 15%;
}

footer .footer_lists .boxList4 .iconSocialMedia .fa {
  padding: 5px;
  font-size: 17px;
  width: 17px;
  text-align: center;
  text-decoration: none;
  margin-left: 8px;
  border-radius: 50%;
  background: #000;
  color: #fff;
}

footer .footer_lists .boxList4 .iconSocialMedia .fa:hover {
  opacity: 0.7;
}

footer p {
  font-size: 12px;
  padding-left: 10%;
}

.messageSticky {
  background: #fff;
  padding-left: 100px;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.messageSticky button {
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 1070px) {
  /* For tablets: */
  .header_desktop {
    display: block;
    text-align: center;
  }
  .header_desktop div {
    width: 80%;
    padding-bottom: 2%;
    margin: 0 auto;
  }
  .header_desktop .header_nav_top ul li {
    font-size: 8px;
    padding: 10px 7px;
  }
  .header_desktop .header_nav_top ul .linkButton {
    font-size: 8px;
  }
  .header_nav_bottom {
    width: 484px;
  }
  .header_nav_bottom .header_nav_ul li {
    padding: 10px;
    font-size: 11px;
  }
  .about {
    min-height: 360px;
    background-size: cover;
  }
  .about .about_content_top {
    width: 55%;
    padding: 4% 0;
  }
  .about .about_content_top .about_title_top {
    font-size: 26px;
    padding-bottom: 5%;
  }
  .about .about_content_top p {
    font-size: 12px;
  }
  .about .about_content_bottom {
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about .about_content_bottom .card {
    width: 400px;
    height: 200px;
    padding: 2% 3%;
  }
  .about .about_content_bottom .card .imgCardSize {
    width: 35px;
    height: 35px;
  }
  .about .about_content_bottom .card .about_title {
    font-size: 15px;
  }
  .about .about_content_bottom .card p {
    font-size: 13px;
  }
  .PriceComparison .PriceComparison_content_top {
    padding: 4% 0;
  }
  .PriceComparison .PriceComparison_content_top .PriceComparison_title_top {
    font-size: 22px;
  }
  .PriceComparison .PriceComparison_content_top p {
    margin: 2% 18%;
    font-size: 12px;
    line-height: 22px;
  }
  .PriceComparison .PriceComparison_content_bottom .PriceComparison_title_bottom {
    font-size: 27px;
  }
  .PriceComparison .PriceComparison_content_bottom .PriceComparison_cards {
    width: 80%;
  }
  .PriceComparison .PriceComparison_content_bottom .PriceComparison_cards .cardBox h3 {
    font-size: 14px;
  }
  .PriceComparison .PriceComparison_content_bottom .PriceComparison_cards .cardBox ul li {
    font-size: 10px;
    padding-left: 4%;
    padding-right: 4%;
  }
  .PriceComparison .PriceComparison_content_bottom .PriceComparison_cards .boxList1 {
    padding-top: 9%;
    font-weight: bold;
  }
  .messageWithButton .messageWithButtonWrapper {
    width: 80%;
  }
  .messageWithButton .messageWithButtonWrapper .messageWithButton_title {
    font-size: 25px;
  }
  .messageWithButton .messageWithButtonWrapper .messageWithButton_p_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .messageWithButton .messageWithButtonWrapper .messageWithButton_p_button p {
    font-size: 13px;
  }
  .messageWithButton .messageWithButtonWrapper .messageWithButton_p_button button {
    width: 200px;
    height: 40px;
    font-size: 9px;
    padding: 1%;
  }
  .bookWithButton {
    min-height: 300px;
  }
  .bookWithButton .bookWithButtonWrapper {
    background-position: 100% 50%;
    background-size: 37% 55%;
    width: 80%;
  }
  .bookWithButton .bookWithButtonWrapper .bookWithButton_title {
    font-size: 25px;
  }
  .bookWithButton .bookWithButtonWrapper h3 {
    font-size: 15px;
  }
  .bookWithButton .bookWithButtonWrapper p {
    font-size: 11px;
  }
  .bookWithButton .bookWithButtonWrapper button {
    font-size: 10px;
  }
  footer .footer_lists {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer_lists .footerBox {
    width: 20%;
    padding-right: 4%;
  }
  footer .footer_lists .footerBox h3 a {
    font-size: 13px;
  }
  footer .footer_lists .footerBox ul li {
    font-size: 12px;
  }
  footer .footer_lists .footerBox ul .textSmall {
    font-size: 10px;
  }
  footer .footer_lists .boxList4 {
    padding: 0;
    width: 45%;
  }
  footer .footer_lists .boxList4 .iconSocialMedia {
    padding-bottom: 15%;
  }
  footer .footer_lists .boxList4 .iconSocialMedia .fa {
    padding: 2px;
    font-size: 15px;
    width: 14px;
    margin-left: 3px;
  }
  footer .footer_lists .boxList5 {
    padding: 0;
  }
  footer .footer_lists .boxList5 img {
    width: 80px;
  }
  footer p {
    font-size: 10px;
  }
  .messageSticky {
    padding-left: 0;
  }
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  /*.header_desktop{
       background: blue;
    }*/
  .header_nav_top {
    display: none;
  }
  .header_nav_top ul {
    display: block;
  }
  .header_nav_top ul li {
    text-align: center;
    width: 100%;
    margin: 1px auto;
    border-bottom: 1px solid #c9c7c7;
  }
  .mobile_header {
    display: block;
    text-align: center;
  }
  .mobile_header a:hover {
    color: #8f00fe;
  }
  .header_nav_bottom {
    width: 300px;
  }
  .header_nav_bottom .header_nav_ul {
    display: block;
    text-align: center;
  }
  .about {
    min-height: 360px;
    background-size: cover;
  }
  .about .about_content_top {
    width: 70%;
    padding-top: 10%;
  }
  .about .about_content_top .about_title_top {
    font-size: 20px;
  }
  .about .about_content_top p {
    font-size: 11px;
  }
  .about .about_content_bottom {
    width: 85%;
    margin: 0 auto;
    display: block;
  }
  .about .about_content_bottom .card {
    width: 200px;
    height: 140px;
    padding: 2% 0;
    margin: 0 auto;
  }
  .about .about_content_bottom .card .imgCardSize {
    width: 30px;
    height: 30px;
  }
  .about .about_content_bottom .card .about_title {
    font-size: 14px;
  }
  .about .about_content_bottom .card p {
    font-size: 12px;
  }
  .PriceComparison .PriceComparison_content_top {
    padding-top: 4%;
  }
  .PriceComparison .PriceComparison_content_top .PriceComparison_title_top {
    font-size: 16px;
    padding-top: 3%;
  }
  .PriceComparison .PriceComparison_content_top p {
    margin: 2% 21%;
    font-size: 10px;
    line-height: 20px;
  }
  .PriceComparison .PriceComparison_content_bottom {
    padding-top: 4%;
  }
  .PriceComparison .PriceComparison_content_bottom .PriceComparison_title_bottom {
    font-size: 22px;
  }
  .PriceComparison .PriceComparison_content_bottom .PriceComparison_cards {
    width: 94%;
  }
  .PriceComparison .PriceComparison_content_bottom .PriceComparison_cards .cardBox h3 {
    font-size: 13px;
  }
  .PriceComparison .PriceComparison_content_bottom .PriceComparison_cards .cardBox ul li {
    font-size: 9px;
  }
  .PriceComparison .PriceComparison_content_bottom .PriceComparison_cards .boxList1 {
    padding-top: 10%;
    font-weight: bold;
  }
  .messageWithButton .messageWithButtonWrapper {
    width: 80%;
  }
  .messageWithButton .messageWithButtonWrapper .messageWithButton_title {
    font-size: 17px;
  }
  .messageWithButton .messageWithButtonWrapper .messageWithButton_p_button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .messageWithButton .messageWithButtonWrapper .messageWithButton_p_button p {
    font-size: 10px;
  }
  .messageWithButton .messageWithButtonWrapper .messageWithButton_p_button button {
    width: 65%;
    height: 27px;
    font-size: 7px;
    padding: 1%;
  }
  .bookWithButton {
    padding-top: 3%;
    min-height: 280px;
  }
  .bookWithButton .bookWithButtonWrapper {
    background-position: 100% 50%;
    background-size: 37% 55%;
    width: 80%;
  }
  .bookWithButton .bookWithButtonWrapper .bookWithButton_title {
    font-size: 22px;
  }
  .bookWithButton .bookWithButtonWrapper h3 {
    font-size: 11px;
  }
  .bookWithButton .bookWithButtonWrapper p {
    font-size: 9px;
  }
  .bookWithButton .bookWithButtonWrapper button {
    font-size: 8px;
  }
  footer .footer_lists {
    width: 95%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .footer_lists .footerBox {
    width: 20%;
    padding-right: 2%;
  }
  footer .footer_lists .footerBox h3 a {
    font-size: 11px;
  }
  footer .footer_lists .footerBox ul li {
    font-size: 10px;
  }
  footer .footer_lists .footerBox ul .textSmall {
    font-size: 8px;
  }
  footer .footer_lists .boxList4 {
    padding: 0;
    width: 25%;
  }
  footer .footer_lists .boxList4 .iconSocialMedia {
    padding-bottom: 15%;
  }
  footer .footer_lists .boxList4 .iconSocialMedia .fa {
    padding: 4px;
    font-size: 14px;
    width: 14px;
    margin-left: 3px;
  }
  footer .footer_lists .boxList5 {
    padding: 0;
  }
  footer .footer_lists .boxList5 img {
    width: 70px;
  }
  footer p {
    font-size: 8px;
  }
  .messageSticky {
    padding-left: 0;
  }
  .messageSticky img {
    width: 40px;
    height: 40px;
  }
}
/*# sourceMappingURL=style.css.map */